<div class="container">
  <div class="row">
    <div class="col text-center">
      <p class="mb-4">運動習慣を日常に</p>
      <%= image_tag "MV.jpg", size: "960x512" %> 
      <!-- とりあえず -->
    </div>
  </div>
</div>